@use './../../../scss/main.scss' as *;

.pagination {
  display: flex;
  width: fit-content;
  height: 32px;
  gap: 8px;
  margin-inline: auto;

  &:first-child {
    margin-right: 8px;
  }

  &__link {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    color: $btn-pg-color;
    border: 1px solid $btn-pg-border-color;
    background-color: $btn-pg-bg-color;
    box-sizing: border-box;

    @extend %body-text;

    &:hover {
      border-color: $btn-pg-border-hover-color;
      background-color: $btn-pg-bg-hover-color;
    }

    &_active {
      color: $btn-pg-selected-color;
      background-color: $btn-pg-selected-hover-bg-color;
      cursor: default;

      &:hover {
        color: $btn-pg-selected-color;
        background-color: $btn-pg-selected-hover-bg-color;
      }
    }
  }

  &__button {
    &_marginLeft {
      margin-left: 8px;
    }

    &_marginRight {
      margin-right: 8px;
    }
  }
}
