@use '../../../scss/main.scss' as *;

.button {
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: btn-get('primary-btn', 'color');
  background-color: btn-get('primary-btn', 'bg');
  border: none;

  &_selected {
    color: btn-get('primary-btn', 'color-selected');
    background-color: btn-get('primary-btn', 'bg-selected');
  }

  @extend %buttons;

  &:hover {
    box-shadow: btn-get('primary-btn', 'hover-shadow');

    @include hover(background-color, btn-get('primary-btn', 'bg-hover'));
  }

  &_message {
    width: fit-content;
    height: 40px;
    padding-inline: 20px;
  }
}
