@use 'sass:map';
@use 'sass:string';

:root[data-theme='light'] {
  --primary: #313237;
  --secondary: #89939a;
  --secondary-inverted: #766c65;
  --surface1: #3b3e4a;
  --surface2: #3b3e4a;
  --border: #b4bdc4;
  --border-hover: #313237;
  --selected-button: #27ae60;
  --icons: #b4bdc3;
  --background: #fafbfc;
  --white: #fff;
  --red: #eb5757;
  --elements: #e2e6e9;
  --button-hover: #17203166;
  --black: #000;
  --error-background: #b87e7e80;
  --body-background: var(--white);
}

:root[data-theme='dark'] {
  --black: #0f1121;
  --secondary: #75767f;
  --surface1: #161827;
  --surface2: #323542;
  --icons: #4a4d58;
  --white: #f1f2f9;
  --accent: #905bff;
  --red: #eb5757;
  --elements: #3b3e4a;
  --body-background: var(--black);
  --primary: var(--white);
}

/* #region Pagination Button */

$button-theme: (
  // #region Pagination Button Theme
  'pg-btn':
    (
      'border': (
        light: var(--elements),
        dark: var(--surface1),
      ),
      'color': (
        light: var(--black),
        dark: var(--white),
      ),
      'bg': (
        light: transparent,
        dark: var(--surface1),
      ),
      'border-hover': (
        light: var(--primary),
        dark: var(--icons),
      ),
      'bg-hover': (
        light: var(--white),
        dark: var(--icons),
      ),
      'selected': (
        light: var(--white),
        dark: var(--white),
      ),
      'selected-hover-bg': (
        light: var(--primary),
        dark: var(--accent),
      ),
    ),
  // #endregion Pagination Button Theme
  // #region Slider Button Theme
  'slider-btn':
    (
      'color': (
        light: var(--primary),
        dark: var(--white),
      ),
      'color-disabled': (
        light: var(--icons),
        dark: var(--icons),
      ),
      'bg': (
        light: transparent,
        dark: var(--surface2),
      ),
      'bg-hover': (
        light: transparent,
        dark: var(--icons),
      ),
      'border-hover': (
        light: var(--primary),
        dark: var(--icons),
      ),
      'border-disabled': (
        light: var(--white),
        dark: var(--icons),
      ),
    )
    // #endregion Slider Button Theme,
);

@each $theme in ('light', 'dark') {
  :root[data-theme='#{$theme}'] {
    @each $btn-name, $properties in $button-theme {
      @each $prop-key, $theme-map in $properties {
        @if map.has-key($theme-map, $theme) {
          --#{$btn-name}-#{$prop-key}: #{map.get($theme-map, $theme)};
        }
      }
    }
  }
}

/* #endregion */

$primary-color: var(--primary);
$secondary-color: var(--secondary);
$secondary-inverted-color: var(--secondary-inverted);
$surface1-color: var(--surface1);
$surface2-color: var(--surface2);
$border-color: var(--border);
$border-hover-color: var(--border-hover);
$error-background-color: var(--error-background);
$selected-button-color: var(--selected-button);
$icon-color: var(--icons);
$background-color: var(--background);
$body-background-color: var(--body-background);
$white-color: var(--white);
$red-color: var(--red);
$elements-color: var(--elements);
$header-max-width: 1440px;
$body-min-width: 320px;
$grid-column-desktop: 32px;
$grid-gap-mobile: 16px;
$grid-gap-desktop: 16px;
$grid-column-mobile: 68px;
$mobile-max-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$mobile-padding-inline: 16px;
$tablet-padding-inline: 24px;
$desktop-padding-inline: 32px;
$image_hover_transform: 1.1;
$text_hover_transform: 1.07;
$button-hover-color: #17203166;
